/* Imports */
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Holtwood+One+SC&family=Major+Mono+Display&family=Mynerve&display=swap");

/* CSS Variables */
:root {
  --color-dark-primary: #333333;
  --color-light-secondary: #f7f7f7;
  --color-tertiary: #dcdcdc;
  --color-background: #fff;
  --color-black: #000;
  --color-white: whitesmoke;
  --color-primary: #dfb9ee;
  --color-highlighter: #f5f5dc;
  --color-background: #262626;
  --color-secondary: #fff1de;
  --color-tertiary: #3c3c3c;
  --color-hero-text: #9944b5;
  --color-dark-purple: #301934;
}

/* CSS Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fafafa;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
.ff-major-mono-display {
  font-family: "Major Mono Display", monospace;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: -10px;
}

.ff-mynerve-regular {
  font-family: "Mynerve", cursive;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.holtwood-one-sc-regular {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

/* Layout */
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main {
  padding: 10px;
  width: 90%;
  height: 100%;
  text-align: center;
}

/* Navigation */
header {
  width: 100vw;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo {
  display: flex;
  gap: 5px;
  white-space: nowrap;
  color: #301934;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(90deg, #301934 39%, #9683ec 52%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
}

.first-name {
  letter-spacing: 2px;
}

.logo-link {
  display: flex;
  gap: 5px;
  font-size: calc(24px + 6 * (100vw - 400px) / (800 - 400));
  font-weight: 500;
}

.nav .nav-links a {
  transition: all 0.2s linear;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  color: #301934;
}

.nav .nav-links a:hover {
  font-size: 19px;
  color: #9944b5;
}

.nav .nav-links a:active {
  padding-bottom: 5px;
  color: turquoise;
  border-bottom: 2px solid turquoise;
}

.top-link {
  text-align: center;
  display: inline-block;
  padding: 10px !important;
  background: none !important;
}

.top-link p {
  font-size: 13px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
  font-size: 36px;
  color: turquoise;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.dropdown-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 10px;
  color: white;
}

.dropdown button {
  transition: all 0.2s linear;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  color: #301934;
  border: none;
  font-size: 16px;
}

.dropdown button:hover {
  font-size: 19px;
  color: #9944b5;
}

.dropdown-icon {
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  padding-top: 90px;
}

.hero-img {
  max-width: 900px;
  max-height: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.hero-content {
  position: relative;
  height: 100%;
  height: max-content;
}

.overlay-text {
  position: absolute;
  top: 80%;
  right: 0;
  line-height: 1;
  background-color: rgba(240, 240, 240, 0.7);
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    #c5fbe7 50%,
    #c5fbe7 100%
  );
  max-width: 900px;
  width: 100%;
  color: #9944b5;
  font-size: calc(24px + (24 - 16) * (100vw - 200px) / (800 - 200));
  letter-spacing: 2px;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
  text-align: left;
}

.section-title {
  position: relative;
  font-size: calc(28px + (24 - 16) * (100vw - 400px) / (800 - 400));
  color: #9683ec;
  background-image: -webkit-radial-gradient(circle, #9683ec 19%, #b666d2 86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}

.section-title-icon {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
  margin-left: -10px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-content .list {
  text-align: left;
}

.section-content .list-items {
  margin: 5px;
  padding: 5px;
  background: whitesmoke;
  border-radius: 5px;
}

.section-to-navigate {
  padding-top: 80px;
}

/* Slider */
.slide-container {
  max-width: 1120px;
  width: 100%;
}

.slide-content {
  overflow: hidden;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 30px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
  height: max-content;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #301934;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #301934;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.soccerio-frame {
  width: 100%;
  height: 100%;
}

.card-image {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  outline: turquoise solid 4px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
}

.button,
.button-link {
  border: none;
  font-size: 16px;
  font-weight: 800;
  color: black;
  padding: 8px 16px;
  background-color: turquoise;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
}

.button:hover,
.button-link:hover {
  background: black;
  color: turquoise;
}

.swiper-navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  font-weight: 900;
  font-size: 20px;
  color: black !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: auto !important;
  bottom: -14px !important;
  color: black !important;
}

.swiper-button-prev::after {
  margin-left: -35px !important;
}

.swiper-button-disabled {
  color: lightgrey !important;
}

.swiper-pagination-bullet {
  background-color: #dfb9ee;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #9683ec;
}

.swiper-slide-active .card {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.swiper-slide-active .card:hover {
  transform: scale(1.1);
}

.swiper-pagination {
  width: auto;
  margin-bottom: -25px;
  padding: 3px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px;
  background: purple;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-counter {
  position: absolute;
  top: 10px;
  right: 50%;
  color: green;
  border: 1px solid purple;
  padding: 2px;
  border-radius: 20px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  font-weight: bolder;
  margin: 0 auto;
}

.slide-content {
  padding-top: 45px;
}

/* Card Overlay */
.card-content-section {
  margin: 20px 0;
  text-align: left;
}

.card-content-section h4 {
  text-align: left;
}

.card-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.card-overlay.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.close-overlay:hover,
.close-overlay:focus {
  color: #ddd;
  outline: none;
}

.overlay-title {
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.overlay-iframe {
  width: 95%;
  height: 85%;
  border: none;
}

/* Lists */
.whatICanDoForYou,
.communityEvents {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  word-wrap: break-word;
  width: 100%;
}

.whatICanDoForYou li,
.communityEvents li,
.toolsForSuccess li {
  --y: calc(100% - 2rem);
  gap: 0 0.5em;
  break-inside: avoid;
  page-break-inside: avoid;
  color: black;
  border-radius: 1rem;
  overflow: hidden;
  margin: 20px 0;
  padding: 0 10px 10px;
  line-height: 1.5;
}

.communityEvents ol,
.whatICanDoForYou ol {
  list-style-type: decimal;
}

.communityEvents,
.whatICanDoForYou {
  font-size: calc(16px + 3 * (100vw - 400px) / (800 - 400));
}

.communityEvents li,
.whatICanDoForYou li {
  counter-increment: list-item;
}

.communityEvents li::before,
.whatICanDoForYou li::before {
  content: counter(list-item);
  font-weight: 700;
  font-size: 4.5em;
  letter-spacing: -0.125em;
  line-height: 1;
  color: turquoise;
  margin: 0 -0.15em -0.15em -0.1em;
}

.whatICanDoForYou li span,
.communityEvents li span,
.toolsForSuccess li span {
  margin-left: 25px;
  padding: 6px;
}

.tools-content {
  display: flex;
  flex-direction: column;
}

.tools-content h4 {
  border-bottom: 2px solid turquoise;
  font-style: italic;
  margin-bottom: 20px;
  margin-right: 10px;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: calc(16px + 3 * (100vw - 400px) / (800 - 400));
  width: max-content;
  color: #545454;
}

.toolsForSuccess {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 1px dashed lightgrey;
  word-wrap: break-word;
  width: 100%;
  gap: 10px;
  margin: 15px 0;
}

.mindset {
  margin-bottom: 25px;
  font-size: calc(16px + 3 * (100vw - 400px) / (800 - 400));
}

.mindset h3 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  font-size: calc(16px + 3 * (100vw - 400px) / (800 - 400));
  font-style: italic;
  color: #545454;
  opacity: 0.8;
}

/* Pills */
.toolsForSuccess .pill-item {
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  height: auto;
  color: purple;
  letter-spacing: 2px;
  line-height: 1.3;
  font-size: calc(16px + 3 * (100vw - 400px) / (800 - 400));
  max-width: max-content;
  border-radius: 0;
  margin: 10px 0;
}

.toolsForSuccess:last-child {
  border: none;
}

.pill-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: lowercase;
}

.fw-300 {
  font-weight: 300;
}

/* Events List */
.communityEvents h3 {
  font-style: italic;
}

.event-list-item {
  display: flex;
  gap: 10px;
  align-items: first baseline;
}

.event {
  margin-left: 20px;
}

.event-org,
.event-type {
  font-style: italic;
  color: #545454;
  opacity: 0.8;
}

.event-type-content {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.event-org-link {
  color: #9944b5;
  padding-bottom: 5px;
  border-bottom: 1px solid #9944b5;
}

.event-org-link:hover {
  color: #dfb9ee;
  border-bottom: none;
}

/* Footer */
.bottom-header {
  justify-content: center;
}

/* Utilities */
.hide {
  display: none;
}

.show {
  display: block;
}

.mt-50 {
  margin-top: 50px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-35 {
  margin-top: 80px;
}

.highlighter {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    #c5fbe7 50%,
    #c5fbe7 100%
  ) !important;
  display: inline !important;
  font-weight: inherit !important;
}

.fs-italic {
  font-style: italic;
}

/* Media Queries */


@media only screen and (max-width: 550px) {
  .mt-50 {
    margin-top: 140px;
  }
}

@media only screen and (min-width: 800px) {
  .hero-content {
    position: relative;
    display: flex;
    height: 500px;
  }

  .hero-img {
    width: 1000px;
    height: 100%;
  }

  .hero-content p {
    bottom: 30px;
    left: 35%;
  }

  .mt-50 {
    margin-top: 125px;
  }
}

@media only screen and (min-width: 945px) {
  .swiper-counter {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px;
  }
}

@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px;
  }
}

@media screen and (max-width: 1250px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 500px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: turquoise;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 30px;
    right: 20px;
    color: turquoise;
    cursor: pointer;
  }
}
