/* --- BASE --- */

/** -- VARIABLES -- **/

:root {
  --color-primary-h: 20; /* Hue */
  --color-primary-s: 100%; /* Saturation */
  --color-primary-l: 80%; /* Lightness */
  --color-primary: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    1
  );
  --color-primary-90: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.9
  );
  --color-primary-80: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.8
  );
  --color-primary-70: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.7
  );
  --color-primary-60: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.6
  );
  --color-primary-50: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.5
  );
  --color-primary-40: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.4
  );
  --color-primary-30: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.3
  );
  --color-primary-20: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.2
  );
  --color-primary-10: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.1
  );
  --color-primary-05: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.05
  );
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey: #333333;
  --color-grey: #1b1212;
  --color-light-grey: #666666;
  --color-lighter-grey: #999999;
  --color-lightest-grey: #cccccc;
  --color-background: #1a1a1a;
  --color-text: #ffffff;
  --color-text-secondary: #cccccc;
  --color-border: #444444;
  --color-header-background: #2a2a2a;
  --color-header-text: var(--color-primary);
  --color-highlight: #ffdfcc;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-required: #de3163;
}

/** -- END OF VARIABLES -- **/

/** -- IMPORT -- **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");

/** -- END OF IMPORT -- **/

/** -- RESETS -- **/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  letter-spacing: 2px;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-dark-grey);
  font-family: "Roboto", sans-serif;
  /*   font-size: calc(16px + (24-16) * (100vw - 400px) / (800px - 400px)); */
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/*
  8. Create a root stacking context. NOTE: only used for React and Next.js
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

/* a[href]:not([href^="#"]) {
  styles for external links 
} */

ol,
ul {
  list-style: none;
}

p,
li {
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

/** -- RESETS -- **/

/* --- END OF BASE --- */

/* --- LAYOUT --- */

/** -- HEADER -- **/

.main-nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background: var(--color-primary-90);
  background: linear-gradient(90deg, #ffbe99 0%, #ff9988 100%);
  border-bottom: 3px solid #eceef3;
  z-index: 3000;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.main-nav__logo {
  font-weight: 500;
  /*   font-size: 20px; */
  color: grey;
  text-decoration: none;
  padding: 0 10px;
  background: transparent;
}

.main-nav__logo span {
  border: 1px solid #fff;
  color: var(--color-primary);
  padding: 0 2px;
  background: var(--color-white);
}

.main-nav__logo span::first-letter {
  color: var(--color-primary-30);
}

.main-nav__logo h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  padding: 0 2px;
  font-weight: bold;
  background: transparent;
}

.main-nav__icon-btn {
  transition: all 0.4s ease-out;
  outline: 0;
  border: 0;
  font-size: 2rem;
  font-weight: bold;
  background: transparent;
  color: var(--color-black);
  margin-left: 10px;
}

.main-nav__icon-btn.hidden {
  transition: none;
  border-right: 0.5rem solid #b6b6b6;
  width: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}

.main-nav__icon-btn::after {
  content: attr(count);
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-white);
  /*   box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8); */
  /*   border-radius: 50%; */
  /*   font-size: 14px; */
  line-height: 14px;
  margin-left: 1rem;
  margin-right: calc(-1rem + -8px);
  position: absolute;
  top: 2px;
  right: 35px;
  /*   border: 3px solid white; */
}

.main-nav__list {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  flex: 1;
  overflow: hidden;
}

.main-nav__list a,
.main-nav__hidden-list a {
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.main-nav__item {
  flex: none;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 8px;
}

.main-nav__hidden-list {
  position: absolute;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-white);
  right: 0;
  top: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: 0;
  padding-left: 0;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

main-nav__hidden-list.hidden {
  display: none;
}

.main-nav__item {
  position: relative;
}

.main-nav__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(255, 255, 255, 0.4);
  transition: height 0.3s ease;
  z-index: 0;
}

/* Change height on hover */
.main-nav__item a:hover::before {
  height: 100%;
}

/** -- HEADER -- **/

/* --- END OF LAYOUT --- */

/* --- MODULES --- */

/** -- TOOLTIP -- **/

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position the tooltip above the button */
  right: 10px;
  opacity: 0;
  transition: opacity 0.6s;
  word-break: break-all;
  font-size: 1rem;
  border: 2px solid white; /* Allows words to break to the next line */
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  right: 5px;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-white) transparent transparent transparent;
  transform: rotate(180deg);
}

.tooltip-link-counter {
  margin: 3px;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}

.tooltip-link-counter::after {
  /*   display: flex;
  align-items: center;
  justify-content: center; */
  content: attr(count);
  color: var(--color-primary);
  /*   position: absolute;
  right: -5px;
  top: -20px; */
}

.main-nav__icon-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/** -- END OF TOOLTIP -- **/

/** -- SECTION -- **/

.decorative-section {
  padding: 0;
  margin: 0;
  text-align: center;
  max-width: 100%;
}

.decorative-section svg {
  display: block;
  width: 100%;
}

.decorative-section svg path {
  fill: var(--color-primary-60);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.decorative-section .top-svg {
  transform: rotate(180deg);
}

.decorative-section .bottom-svg {
  transform: rotate(0deg);
}

.decorative-section__content {
  position: relative;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 20px 0;
  border-radius: 8px;
}

.decorative-section__content-title {
  margin: 10px 0 50px 0;
  font-size: 70px;
  font-weight: bolder;
  margin: 0 0 20px 0;
  color: var(--color-primary-80);
}

.decorative-section__content-title span {
  font-size: 30px;
}

.decorative-section__content-body {
  padding: 10px;
  margin: 0 auto;
  max-width: 550px;
  height: max-content;
}

/* decorative div touching footer */
#samples {
  margin-bottom: -60px;
}

#contact {
  margin-bottom: -60px;
}

/** -- END OF DECORATIVE SECTION -- **/

/** -- CARD -- **/

.card {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: relative;
  margin: 20px 0;
  text-align: left;
}

.card__image-container {
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: -50px;
  left: -20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.card__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 3px groove var(--color-primary);
}

.card__title {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-lightest-grey);
  padding: 5px 10px;
  color: var(--color-primary-80);
  font-style: italic;
  font-weight: bolder;
}

.card__copy {
  margin-top: 20px;
  font-size: 1em;
  color: var(--color-white);
  font-weight: bolder;
}

.card__copy ul {
  text-align: left;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.card__copy ul li {
  position: relative;
  display: list-item;
  /*   background: var(--color-highlight); */
  color: var(--color-primary);
  word-wrap: break-word;
  line-height: 0.9;
}

.card__copy ul li::before {
  position: relative;
  left: 0;
  top: 15px;
  content: "•";
  color: var(--color-primary); /* You can change the color if you want */
  font-size: 60px;
  margin-right: 0.5em; /* Adjust the size of the circle */
}

.card__copy ul li a {
  color: var(--color-primary);
  text-decoration: underline;
}

/* small card variant */

.card--small {
  display: flex;
  align-items: center;
  height: 80px;
  width: max-content;
  /*   border: 1px solid #ccc; */
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: var(--color-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card--small__image-container {
  height: 100%;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: contain;
  border: 5px solid var(--color-grey);
}

.card--small__image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /*   padding: 2px; */
}

.card--small__copy {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px;
  line-height: 1.2;
  transition: all 0.8s ease;
  word-wrap: break-word;
}

.card--small:hover .card--small__copy {
  display: flex;
  transition: all 0.6s ease;
  cursor: not-allowed;
}

.card--small__title {
  font-weight: bold;
  color: var(--color-primary);
}

.card--small__subtitle {
  font-size: 0.9em;
  color: gray;
}

.card--small__link {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.card--small__link:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: 15px;
  text-align: center;
}

/** -- END OF CARD -- **/

/** -- SLIDER -- **/

.slider {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.slider__body {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 550px;
  height: max-content;
}

/** -- END OF SLIDER -- **/

/** -- BUTTONS -- **/

.button-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
}

.buttons {
  background-color: var(--color-primary-90);
  color: var(--color-black);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: 2px;
}

.buttons:disabled {
  background-color: var(--color-lightest-grey);
  color: #ffefe5;
  cursor: not-allowed;
}

.buttons:hover:enabled {
  background-color: var(--color-white);
  color: var(--color-primary);
}

/** -- END OF BUTTONS **/

/** -- FORM -- **/

.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.form {
  padding: 30px 40px;
  width: 100%;
  background: var(--color-grey);
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: var(--color-primary);
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-control sup {
  color: var(--color-required);
  font-size: 1rem;
  font-weight: bolder;
}

.form-control input,
.form-control textarea {
  border: 3px solid var(--color-light-grey);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: var(--color-black);
}

.form-control input:focus,
.form-control textarea:focus {
  outline: 0;
  border-width: 3px;
  border-color: var(--color-primary-70);
}

.form-control.success input,
.form-control.success textarea {
  border-width: 3px;
  border-color: var(--color-success);
}

.form-control.warning input,
.form-control.warning textarea {
  border-width: 3px;
  border-color: var(--color-warning);
}

.form-control small {
  font-size: bolder;
  visibility: hidden;
  border-radius: 10px;
  padding: 2px 5px;
  margin-top: 10px;
  color: var(--color-warning);
  text-align: left;
  display: block;
  width: max-content;
}

.form-control.warning small {
  visibility: visible;
}
.form button {
  width: 100%;
}

/* .form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

.form button:not(:disabled):hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

label {
  display: block;
  margin-bottom: 5px;
}

.form input,
.form textarea,
.form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/** -- END OF FORM -- **/

/** -- FOOTER -- **/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: var(--color-primary-90);
  background: linear-gradient(90deg, #ffbe99 0%, #ff9988 100%);
  padding: 10px 20px;
  border-top: 3px solid #eceef3;
  color: var(--color-white);
}

.footer-email span {
  font-size: 12px;
}

.footer-email {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--color-dark-grey);
}

/** -- END OF FOOTER -- **/

/** -- BACK TO TOP BUTTON -- **/

.button__back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 20px;
  left: 100%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bolder;
  width: 48px;
  height: 48px;
}

.button__back-to-top:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/** -- END OF BACK TO TOP BUTTON -- **/

/** -- TABS -- **/

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  margin: 0;
  color: var(--color-white);
  letter-spacing: 2px;
}

.tab-button--active {
  color: var(--color-primary);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-primary);
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 30px;
}

.tab-content--active {
  display: block;
  opacity: 1;
}

/** -- END OF TABS -- **/

/** -- PILLS -- **/

.pills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.pill {
  display: inline-block;
  background: var(--color-highlight);
  color: var(--color-black);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px 0;
}

/** -- END OF PILLS -- **/

/** -- COPYRIGHT -- **/
.copyright-year {
  font-size: 18px;
}
/** -- END OF COPYRIGHT -- **/

/* --- END OF MODULES --- */

/* --- PAGES --- */

main {
  width: 100vw;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  color: var(--color-white);
}
/* --- END OF PAGES --- */

/* --- THEMES --- */

/** -- animations -- **/

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-in {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/** -- end of animations -- **/

/* --- END OF THEMES --- */

/* --- UTILS --- */

.items-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 10px;
  margin: 20px 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.p-10 {
  padding: 10px;
}

.t-center {
  text-align: center;
}

.remove-bkg {
  background: none;
}

.remove-b-shadow {
  box-shadow: none;
}

.b-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stack-items-center {
  display: block;
  justify-content: center;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.w-mx-550 {
  max-width: 550px;
}

.hidden {
  display: none;
}

.selected {
  background: var(--color-light-grey);
  color: var(--color-black);
  padding: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-white);
  width: 100%;
  height: 100%;
}

.t-right {
  text-align: right;
}

.w-mx-content {
  width: max-content;
  height: max-content;
}

.h-100 {
  height: 100%;
}

.w-72 {
  width: 72px;
}

.h-72 {
  height: 72px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-pb-10 {
  padding: 10px;
}

.pr-0 {
  padding-right: 0;
}

.show {
  display: block;
}

/* --- END OF UTILS --- */

/* --- VENDORS --- */
/* --- END OF VENDORS --- */

/* --- HOTFIXS --- */
/* --- END OF HOTFIXS --- */

/* --- APPLICATION --- */
/* --- END OF APPLICATION --- */
