
/* --- Base --- */

/* imports */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Bungee+Shade&family=Monoton&display=swap");


/* css variables */
:root {
  --color-dark-bkgd: #1f1f1f;
  --color-light-bkgd: ##fff;
  --color-brand:  #009092;
  --color-info: #343434;
  --color-error: #990000;
  --font-family: "Raleway",
    sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* globals */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.625rem;
  text-transform: uppercase;
}

h2 {
  border-bottom: 8px solid var(--color-brand);
  border-top: 2px dotted var(--color-brand);
  font-size: 40px;
  font-weight: 900;
  line-height: 2.750rem;
  margin: 40px auto 20px auto;
  padding: 10px 0;
  text-align: center;
  width: 150px;
}

h3 { 
  border-bottom: 3px dotted var(--color-brand);
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: .5rem;
  line-height: 2rem;
  margin: 20px 0;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 648px) {
  h3 {
    width: 45%;
  }
}

h4 {
  text-align: justify;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  display: none;
  font-weight: 100;
  padding: 0;
  text-decoration: none;
  text-transform: lowercase;
}
a:link, a:active, a:hover, a:visited {
  color: var(--color-brand);
}


.img {
  border: 5px solid var(--color-brand);
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

input {
  padding: 10px 5px;
}

/* --- layouts --- */
.app-wrapper {
  background-color: inherit;
  display: block;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
}
@media (min-width: 648px) {
  .app-wrapper {
      width: 80%;
  }
}

/* --- modules --- */

/* navigation */
nav {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-right: 20px;
  width: auto;
  height: 3.5rem;
  background: var(--color-brand);
  border-radius: 1.625rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2000;
}
.nav-icon {
  color: var(--color-light-bkgd);
  font-size: 42px;
}

nav span {
  float: left;
  font-size: 32px;
  margin: 0 15px;
}

.nav-items {
  align-items: center;
  border-left: thick solid var(--color-dark-bkgd);
  display: flex;
  gap: 2rem;
  height: 100%;
  justify-content: flex-start;
  margin-right: 20px;
  padding-left: 10px;

}

.nav-item a {
  display: block;
}

/* line separator */
.separator {
  margin: 30px 0;
  }

/** notifications **/

/* information */
.info-notify {
  border-left: 5px solid var(--color-info);
  padding-left: 10px;
}
@media (min-width: 648px) {
  .info-notify {
      width: 350px;
  }
}
@media (min-width: 900px) {
  .info-notify {
      width: 600px;
  }
}

.project-info-notify {
  font-weight: 700;
  width: auto;
}

/* error */

/* section title */
.title {
  margin: 80px 0 0 0;
  width: 100%;
  text-align: center;
}

/* links */
.links {
  border-radius: .5rem;
  display: inline-block;
  padding: 2px 5px;
}

/* content section */
.section {
  margin: 20px 0;
  padding: 20px 5px;
}
@media (min-width: 900px) {
  .section {
    padding: 20px 10px;
  }
}

/** quotes **/
.quotes {
  font-style: italic;
  font-weight: 300;
  padding: 10px;
  text-transform: lowercase;
  word-break: word-break;
}

/* clients quotes */
.clients-quotes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
@media (min-width: 648px) {
  .clients-quotes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .clients-quotes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 648x) {
  .client-quotes-card {
  width: 350px;
  }
}

/* list */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  padding: 0;
}

.list-items {
  background-color: var(--color-brand);
  border-radius: .5rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: .7rem;
  font-weight: 900;
  padding: 10px;
}

/** card **/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  margin-bottom: 20px;
  /* padding: 10px 0 0px 0; */
  width: 100%;
}
.card-info {
  align-items: center;
  display: block;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.card-info a  {
  align-items: center;
  display: inline-block;
  justify-content: flex;
  padding: 5px;
  width: auto;
}

/* client card */
.client-quotes-card {
  height: auto;
  padding-bottom: 10px;
  width: auto;
}
@media (min-width: 648x) {
  .client-quotes-card {
  width: 350px;
  }
}
.picture-clients {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.picture-clients p {
  text-transform: capitalize;
  font-style: italic;
}
.clients-img {
  height: 60px;
  width: 60px;
}
/* client projects */
.clients-project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  width: 280px;
  word-wrap: break-word;
}
@media (min-width: 900px ) {
  .clients-project-card {
    width: 350px;
  }
}
.project-img {
  border: 0;
  border-bottom: 5px solid var(--color-brand);
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 250px;
}
.clients-projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  justify-items: center;
}
@media (min-width: 648px) {
  .clients-projects {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width:1024px) {
  .clients-projects {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.picture-projects {
  margin-top: none;
}
.card-company, .card-role {
  font-size: .7rem;
}

.card-company-name, .card-company-role {
  color: var(--color-light-bkgd);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

/* button */

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  font-family: inherit;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}
button.btn {
  height: auto;
  width: 260px;
}
button.btn .circle {
  background: var(--color-brand);
  border-radius: 1.625rem;
  display: block;
  height: 3rem;
  justify-content: center;
  left: 0;
  margin: 0;
  position: relative;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width: 3rem;
}

button.btn:hover .circle {
  width: 100%;
  color: var(--color-light-bkgd);
}

.button.btn:hover .button-text{
  color: var(--color-light-bkgd);
}

button.btn .circle .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--color-light-bkgd);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
button.btn .circle .icon.arrow {
  position: absolute;
  top: -20px;
  background: var(--color-light-bkgd);
  height: 0.125rem;
  left: 0.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width: 1.125rem;
  font-size: 32px;
}
.button-text {
  align-items: center;
  display: flex;
  font-size: .8rem;
  justify-content: center;
  padding-left: 10px;
  
}
.button-text:hover a {
  color: var(--color-light-bkgd);
}

button.btn .button-text {
  font-weight: 700;
  line-height: 1.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width:auto;
}

.button.btn .button-text a {
  margin-left: none;
  text-align: left;
}

button:hover .circle .icon.arrow {
  background: var(--color-light-bkgd);
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: var(--color-light-bkgd);
}

.email-link-text a {
  display: block;
  padding-top: 7px;
}

.project-link {
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 0px;
  transform: scale(60%);
}

button.btn .project-link-text {
  font-size: 1.25rem;
  font-weight: 900;
  position: relative;
  left: 10px;
  top: -45px;
}
@media (min-width: 900px) {
  button.btn .project-link-text {
    font-size: 1.75rem;
    left: 20px;
    top: -55px;
  }
}

/* --- custom --- */

/** profile **/
.profile {
  display: block;
  justify-content: center;
}

@media (min-width: 900px) {
  .profile-section-one {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

.picture-profile {
  display: block;
  justify-content: center;
  text-align: center;
  }

.picture-profile img {
  display: block;
  margin: auto;
}

/* profile name */
.name {
  margin: 20px auto;
  letter-spacing: .2rem;
  gap: 1rem;
  line-height: 2rem;
}
.first-name {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5rem;
}
.last-name {
  font-size: 42px;
  letter-spacing: .5rem;
  font-weight: 700;
}
.profile-quotes {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
@media (min-width: 900px) {
  .profile-quotes {
    width: 50%;
  }
}

.roles {
  color: var(--color-brand);
  font-size: 32px;
  font-weight: 700;
  text-transform: lowercase;
}

/* social media */
.social-media {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  text-align: center;
  transform: scale(60%);
  width: auto;
}

.social-media-links a {
  align-items: center;
  display: inline-block;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: .5rem;
  width: auto;
  font-weight: 900;
  font-size: 1rem;
}
@media (min-width: 648px) {
  .social-media {
    flex-direction: row;
    gap: 5rem;
  }
}

.profile-img {
  height: 150px;
  width: 150px;
}

.copyright {
  text-align: center;
}
/* form */
form {
  display: inline-block;
  width: 100%;
}
@media (min-width: 640px) {
    form {
      width: 80%;
    }
    .form {
      text-align: center;
    }
}

.custom-field {
  border-top: 20px solid transparent;
  position: relative;
  font-size: 14px;
  margin:  10px 0;
  padding: 12px 0;
  top: 0;
  width: 100%;
}
.custom-field input, .custom-field textarea {
  appearance: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
}

.custom-field input {
  margin: 10px 0;
}

.custom-field textarea  {
margin: 20px 0;
}

.custom-field .placeholder {
  left: 12px;
  line-height: 100%;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 10px;
  width: auto;
  transform: translateY(-50%);
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
    margin: 10px 0;
  white-space: nowrap;
}

/* form fields */
.custom-field.one input, .custom-field.two input, .custom-field.three input, .custom-field.four input, .custom-field.five textarea  {
  background: none;
  border: 2px solid var(--color-brand);
  transition: border-color 0.3s ease;
}
.custom-field.one input + .placeholder, .custom-field.two input + .placeholder, .custom-field.three input + .placeholder, .custom-field.four input + .placeholder  {   
  left: 0;
  padding: 5px;
  top: -2px;
}
.custom-field.five textarea {
  padding: 10px;
  color: var(--color-brand);
}

.custom-field.five textarea + .placeholder {
  top: -275px;
  left: 0;
  padding: 5px;
}
.validation-error-message {
  display: none;
  position: relative;
  top: -15px;
  left: 0;
  padding: 5px;
  border:1px solid var(--color-brand);
  text-align: left;
  color: var(--color-error);
}
.validation-error-message-textarea {
  display: none;
  top: -22px;
}
.form-info-notify {
  font-size: .8rem;
  font-style: italic;
  margin-bottom: 30px;
  text-align: left;
}
.button-container {
  text-align: center;
}
.button {
  border: 1px solid var(--color-brand);
  border-radius: .3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--color-brand);
  font-size: 1rem;
  margin: 30px 0;
  padding: 10px 10px;
  text-align: center;
  width: 100px;
}

.footer {
  border: 1px solid var(--color-brand);
  border-radius: 0;
  bottom: 0;
  margin-top: 30px;
  position: relative;
}

.copyright {
  text-align: center;
}


/* --- state --- */

/* navigation */
.nav-item a:visited {
  border-bottom: 1px solid var(--color-info);
  color: var(--color-info);
  padding-bottom: 3px;
}
.nav-item a:hover {
  border-bottom: 2px solid white;
  color: white;
  padding-bottom: 3px;
}
.nav-item a:active, .nav-item a:link{
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: 3px;
}

/** form **/
input:focus{
  padding-top: 50px;
}
input:focus, textarea.focus {
  color: var(--color-brand);
}
.custom-field.five textarea:focus {
  padding: 20px 0 0 10px;
}
input:not(:focus):not(:placeholder-shown):invalid ~.validation-error-message, textarea:not(:focus):not(:placeholder-shown):invalid ~.validation-error-message-textarea {
  color: var(--color-error);
  display: block;
  font-size: 11px;
  opacity: 1;
}
input:not(:focus)::placeholder,textarea:not(:focus)::placeholder{
  display: block;
  font-size: 11px;
  opacity: 0;
}
.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -12px;
  color: var(--color-brand);
  font-size: 15px;
  width: auto;
  border-radius: .2rem;
  padding:5px;
}

 /* form fields */
.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus, .custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus, .custom-field.three input.dirty,
.custom-field.three input:not(:placeholder-shown),
.custom-field.three input:focus, .custom-field.four input.dirty,
.custom-field.four input:not(:placeholder-shown),
.custom-field.four input:focus, .custom-field.five textarea.dirty,
.custom-field.five textarea:not(:placeholder-shown),
.custom-field.five textarea:focus  {
  border-color: var(--color-brand);
  border: none;
  transition-delay: 0.1s;
}
.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder , .custom-field.two input.dirty + .placeholder,
.custom-field.two input:not(:placeholder-shown) + .placeholder,
.custom-field.two input:focus + .placeholder, .custom-field.three input.dirty + .placeholder,
.custom-field.three input:not(:placeholder-shown) + .placeholder,
.custom-field.three input:focus + .placeholder, .custom-field.four input.dirty + .placeholder,
.custom-field.four input:not(:placeholder-shown) + .placeholder,
.custom-field.four input:focus + .placeholder {
  border-radius: .5rem;
  font-size: 15px;
  padding: 5px;
  top: -30px;
  width: auto;
}
.custom-field.five textarea.dirty + .placeholder,
.custom-field.five textarea:not(:placeholder-shown) + .placeholder,
.custom-field.five textarea:focus + .placeholder {
  border-radius: .5rem;
  color: var(--color-brand);
  font-size: 15px;
  padding:8px 5px;
  top: -290px;
  width: auto;
}

/* Removing input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #202020 inset !important;
  color: var(--color-brand) !important;
  -webkit-box-shadow: 0 0 0 1000px #202020 inset !important;
  -webkit-text-fill-color: #fff !important;
}

/* --- utils --- */
.hidden {
  display: none;
}

/* --- theme --- */




















  








