/*---------------------*\
      #IMPORTS
\*---------------------*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*---------------------*\
      #END of IMPORTS
\*---------------------*/




/* Following the BEM ITCSS method */

/*---------------------*\
      #SETTINGS
\*---------------------*/

:root {
  /* ##Calculations --
  ###This allows the browser to make a smoother transition between min and max values font, letter spacing, and line height for responsiveness */

    /* Font Cal */
  --font-size-cal: calc(12px + 48px * ((100vw - 320px) / (1600 - 320)));

  /* Letter Spacing Cal */
  --letter-spacing-cal: calc(2px + 16px * ((100vw - 320px) (1600 - 320)));

  /* Line Height Cal */
  --line-height-cal: calc(18px + 60px * ((100vw - 320px) (1600 - 320)));

  /* =========================================================== */

   /* ##Typography */

  /** Font Family Satisfy **/
  --f-Satisfy: "Satisfy",
    cursive;
  ;

  /** Font Family Raleway **/
  --f-Raleway: "Raleway",
    sans-serif;


  /* ===========================================================*/

  /* ##Brand Colors */

  /* Dark Theme */
  --t-primary-background-color: #004466;
  --t-primary-text-color: #40e0d0;

  /* Light Theme */
  --t-secondary-background-color: #440971;
  --t-secondary-text-color: #CC99CC;

  /* Dark Gray  */
  --dark-gray:#838383;

  /* Light Gray */
  --light-gray:#cccccc;

  /* White */
  --white: #e9f1e8;
}

/*---------------------*\
      #END of SETTINGS
\*---------------------*/




/*---------------------*\
      #GENERIC
\*---------------------*/

/* ##CSS resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
  border: 1px dashed #A18DB3;
}

/* tables still need cellspacing=0 in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ;
}

blockquote,
q {
  quotes: ;
}

/* border box override*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/*---------------------*\
      #END of GENERIC
\*---------------------*/




/*---------------------*\
      #ELEMENTS
\*---------------------*/

body {
  background: var(--t-primary-background-color);
  color: var(--t-primary-text-color);
  letter-spacing: 2px;
  line-height: 1.2em;
  font-family: var(--f-Raleway);
  font-weight: 600;
}

main {
  width: 90%;
  margin: 20px auto;
}

h1 {
  margin: 100px 0 50px 0;
  font-size: 42px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  letter-spacing: 4px;
  line-height: 1.2em;
  padding: 20px 0;

}

h2 {
  color: var(--white);
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
}

/* ##Blockquote */

blockquote {
  background: inherit;
  font-size: 20px;
  line-height: 1.2em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::first-letter {
  font-size:1.2em
}

blockquote:before {
  content: open-quote;
  font-size: 7em;
  vertical-align: -0.5em;
}

blockquote section {
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  object-fit: cover;
  border: thin solid currentColor;
  padding: 4px;
}

blockquote div {
  display: block;
  justify-content: left;
  margin: 20px;
  font-size: 1rem;
}

.e-blockquote__body-text {
  font-weight: 300;
  padding: 10px;
}

.e-blockquote__body-text::first-letter {
  font-size: 4em;
  font-weight: bolder;
}

blockquote h3 {
  font-weight: bolder;
}

blockquote h5 {
  font-weight: 800;
}

.e-slug__author {
  font-size: 24px;
  font-family: var(--f-Satisfy);
  color: var(--dark-gray);
  font-weight: 900;

}

blockquote h3,
blockquote h5 {
  padding: 0;
  margin: 5px;
  white-space: wrap;
  word-wrap: wrap;
}

/* a */
a {
  text-decoration:none;
  text-transform: uppercase;
  color: currentColor;
}

/* ul */
ul {
  margin: 0 20px;
  list-style: circle outside none;
}

li {
  margin: 20px;
}

/* ### Media Queries */

@media only screen and (min-width: 481px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px
  }
}
@media only screen and (min-width: 641px) {
  main {
    width: 80%;
    margin: 20px auto;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    margin-left: none;
    text-align: center;
    font-size: 28px;
  }

  p {
    font-size: 15px
  }
}
@media only screen and (min-width: 981px) {

  h1 {
    font-size: 100px;
    letter-spacing: 2px;
    position:fixed;
    top: 150px;
    left: 50px;
    writing-mode: vertical-lr;
  }

  h2 {
    font-size: 36px;
  }

  blockquote img {
   width: 50px;
   height: 50px;
  }

  main {
    margin-top: 200px;
    width: 70%;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {}

/*---------------------*\
      #END of ELEMENTS
\*---------------------*/





/*---------------------*\
      #COMPONENTS
\*---------------------*/

/* Navigation */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1000;
  background: #000;
  padding: 10px 0;
  height: 70px;
  border-bottom: medium solid currentColor;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px auto;
  color: inherit;
  background: inherit;
}

.nav__btn:hover {
  color: var(--dark-gray);
}

.menuOpenBtn {
  font-size: 24px;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;

}

.menuOpenBtn:hover {
  padding-bottom: 10px;
  border-top: medium solid currentColor;
  border-bottom: medium solid currentColor;
}

.nav__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2000;
}

.menu {
  display: flex;
  position: absolute;
  left: 40%;
  top: 45%;
  width: 100%;
  z-index: 2;
}

.btn {
  width: 80px;
  height: 80px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn p {
  margin:none;
}

.nav_link_text {
  margin-top: -10px;
  font-size: 10px;
}

.nav_link_text:hover,.nav_link_text:active, .nav_link_text:focus{
  color: currentColor;
}

.nav_link_text:visited {
  color: var(--white);
}

.nav_link_icon {
  weight: 40px;
  height: 40px;
  fill: currentColor;
}


.btn:hover,.btn:active,.btn:focus {
  padding-bottom: 4px;
  border-bottom: 4px solid currentColor;
}

.btn:visited {
  padding-bottom: 4px;
  border-bottom: 2px dotted var(--white);
}

.btn:nth-child(2) {
  top: -100px;
  opacity: 1;
}

.btn:nth-child(3) {
  top: -100px;
  left: 100px;
  opacity: 1;
}

.btn:nth-child(4) {
  left: 100px;
  top: 0px;
  opacity: 1;
}

.btn:nth-child(5) {
  top: 100px;
  left: 100px;
  opacity: 1;
}

.btn:nth-child(6) {
  top: 100px;
  opacity: 1;
}

.btn:nth-child(7) {
  top: 100px;
  left: -100px;
  opacity: 1;
}

.btn:nth-child(8) {
  left: -100px;
  opacity: 1;
}

.btn:nth-child(9) {
  top: -100px;
  left: -100px;
  opacity: 1;
}

.nav_links {
  letter-spacing: none;
  font-weight: 900;
  outline: none;
  border: none;
  background: transparent;
}

.nav_links:active,
.nav_links:focus,
.nav_links:hover,
.nav_links:visited {
  background: transparent;
  border: none;
  outline: none;
}


/* .menuBtn, */
.closeBtn {
  position: absolute;
  font-size: 36px;
  font-weight: 900;
  color: currentColor;
  padding: 10px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

.nav_items {
  display: none;
}


/* Scroll-Btn */

.scroll__btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: flex;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
  border-bottom: medium solid currentColor;
  cursor: pointer;
  margin: 25px auto;
  color: inherit;
  background: inherit;
  z-index: 4;
  font-weight: bolder;

}


.scroll__btn:hover {
  color: inherit;
}

.scrollBtn {
  font-size: 20px;
}


/* Buttons */

.c-btn {
  padding: 15px 0;
  color: inherit;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: lowercase;
}

.c-btn:hover, .c-btn:active, .c-btn:focus {
  border-bottom: medium solid currentColor;
}

/* Card */

.filterItem {
  margin: 20px 0;
}

/* # Thumbnail Card */

.c-card__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
  background: inherit;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.c-card__thumbnail:active,
.c-card__thumbnail:focus,
.c-card__thumbnail:hover {
  font-weight: bolder;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
  border: thin solid currentColor;
}

.c-card__thumbnail-title {
  margin: 0;
  padding: 0;
}

.c-card__thumbnail__header {
  font-size: 1rem;
}

.c__card__thumbnail__subheader {
  font-size: 13px;
  color: var(--white);
}

.c-card__button--show,
.c-card__button--close {
  color: var(--white);
  font-size: 42px;
}

.c-thumbnail-apps {
  border-left: 30px solid #FFDB99;
}

.c-thumbnail-ux {
  border-left: 30px solid #BDDFEB;
}

.c-thumbnail-ui {
  border-left: 30px solid #fff;
}

.c-thumbnail-designs {
  border-left: 30px solid #ffff50;
}

.c-thumbnail-talks {
  border-left: 30px solid #D5C3B4;
}

/* # Main Card */

.c-card__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  z-index: 2000;
}

.c-card__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.c-card {
  background: #444444;
  margin: 80px auto;
  width: 90%;
  max-height: 700px;
  border: thin solid var(--light-gray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 20px;
}

.c-card-img {
  width: 100%;
  height: 200px;
   border-bottom-right-radius: 40%;
}

.c-card__section {
  margin-top: 10px;
}

.c-card__content {
  height: 100%;
  overflow: scroll;
}

.c-card__section-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px 20px 5px;
  font-size: 24px;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: var(--white);
}


.c-card__section-label::after {
  content: "\276F";
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
  margin: 0 10px;
  border: thin solid var(--light-gray);
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
  padding: 12px 0;
  width: 42px;
  height: 42px;
  color: var(--dark-gray);
}

.c-card__section_subheader {
  font-weight: 700;
  color: var(--dark-gray);
}

.c-card__section-body-text {
  max-height: 0;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
  color: currentColor;
  font-weight: 200;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: scroll;
  scrollbar-color: currentColor var(--dark-gray);
  background: transparent;
}

.c-card_section-body-text-sections {
  margin: 10px 0 20px 0;
  text-transform: lowercase;
  padding-bottom: 10px;
}

.c-card_section-body-text-sections h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

.c-card_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_link {
  font-size: inherit;
  color: currentColor;
  padding: 10px;
}

.card_link:hover, .card_link:active, .card_link:focus  {
   background: var(--white);
}

/* #Card state */

.c-card__section-items:checked+.c-card__section-label {
  background: transparent;
  outline: none;

}

.c-card__section-items:checked+.c-card__section-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-card__section-items:checked~.c-card__section-body-text {
  max-height: 200px;
  padding: 1em;
}

.c-card__section-items {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Section */
.c-tools-section:last-child {
  margin-bottom: 40px;
  border-bottom: 0;
}

.c-tools-section-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background: inherit;
  font-weight: bold;
  cursor: pointer;
}


.c-tools-subheaders {
  margin: 0 20px;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 900;
}

.c-tools-section-label:hover, .c-tools-section-label:active, .c-tools-section-label:focus {
  color: var(--dark-gray);
}

.c-tools-section-label::after {
  content: "\276F";
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
  margin-left: 5px;
  margin: 0 10px;
  border: thin solid currentColor;
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
  padding: 10px 0px 1px 0px;
  width: 36px;
  height: 36px;
}

.c-tools-section__body-text {
  max-height: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: scroll;
  scrollbar-color: currentColor var(--dark-gray);
  font-weight: ;
}

/* #Tools Section State */

.c-tools-section-items:checked+.c-tools-section-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-tools-section-items:checked~.c-tools-section__body-text {
  max-height: 200px;
}

.c-tools-section-items {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Copyright */

.c-copyright {
  z-index: 0;
  position: static;
  bottom: 0;
  left: 30%;
  text-align: center;
  font-size: 13px;
}

/* Page Sections */

.c-page__section {
  margin: 50px auto;
}

.c-page__subheader {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 4px;
  padding-bottom: 10px;
  text-decoration: underline;
  line-height: 1.2em;
  text-align: left;
}

.c__section-list {
  /* margin: 0 40px; */
  display: block;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c__section-list li {
  padding: 10px;
  vertical-align: center;
}
.c-section__content {
  height: auto;
}

/* Testimonials */

.c-testimonials {
  display: block;

}


.c-testimonial {
  margin: 30px 10px;
  background: rgba(100, 100, 100, .2);
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  padding: 0 20px;
}

.c-profile-quotes {
  padding: 30px 0px;
  margin: 0 auto;
  width: 90%;
}


/* ### Media Queries */

@media only screen and (min-width: 481px) {

  .c-card {
    width: 70%;
  }

   .c__section-list {
  display: flex;
  justify-content: flex-start;
}

}

@media only screen and (min-width: 641px) {
  .c-card {
    width: 60%;
  }

  .c-card-img {
    height: 300px;
  }

  /* Nav */

  .btn {
    width: 90px;
    height: 90px;
  }

  .menu {
    left: 45%;
    top: 50%;
  }

  .nav_links {
    font-size: 12px;
  }

  .closeBtn {
    padding: 0;
  }

  .btn:nth-child(2) {
    top: -150px;
    opacity: 1;
  }

  .btn:nth-child(3) {
    top: -100px;
    left: 100px;
    opacity: 1;
  }

  .btn:nth-child(4) {
    left: 150px;
    top: 0px;
    opacity: 1;
  }

  .btn:nth-child(5) {
    top: 100px;
    left: 100px;
    opacity: 1;
  }

  .btn:nth-child(6) {
    top: 150px;
    opacity: 1;
  }

  .btn:nth-child(7) {
    top: 100px;
    left: -100px;
    opacity: 1;
  }

  .btn:nth-child(8) {
    left: -150px;
    opacity: 1;
  }

  .btn:nth-child(9) {
    top: -100px;
    left: -100px;
    opacity: 1;
  }

  .projects-table {
    margin: 0 auto;
    width: 80%;
  }

  .c-card__button--close {
    font-size: 42px;
  }

  .c-card {
    max-width: 450px;
  }

  .c-tools-page {
    width: 80%;
    margin: 0 auto;
  }

  .scroll__btn {

  width: 40px;
  height: 40px;

}

  .scrollBtn {
    font-size: 24px;
  }

  .c-page__subheader {
    font-size: 36px;
  }

  .c-tools-subheader {
    text-align: center;
}


}

@media only screen and (min-width: 981px) {
  .c-card {
    width: 400px;
  }

    .scroll__btn {
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }

  .scrollBtn {
    font-size: 32px;
  }

  .c-tools-section {
    margin: 20px;
   }

  .c-btn {
  font-size: 32px;
  letter-spacing: 4px;
  }

  .c-page__subheader {
    font-size: 48px;
  }

  .c-profile-quotes {
  width: 60%;
}

.c-card__button--show,
.c-card__button--close {
  font-size: 56px;
}

.c-btn {
  font-size: 24px;
}

}

@media only screen and (min-width: 1024px) {}


/*---------------------*\
      #END of COMPONENTS
\*---------------------*/





/*---------------------*\
      #OBJECTS
\*---------------------*/

/* Theme */
.t-secondary {
  background: var(--t-secondary-background-color);
  color: var(--t-secondary-text-color);
}

/* Kicker */

.o-kicker-screen {
  margin: 50% auto;
}

.kicker-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}


/* Project Filter */

.projects-table {
  margin: 20px auto;
  overflow: scroll;
  max-height: 650px;
  border-top: thin solid currentColor;
}

/* ##Filter */

.o-filter {
  margin: 20px auto 10px auto;
  height: auto;
}

.o-filter__header {
  margin-bottom: 30px;
}

/* ###Pills */

.o-filter__pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.o-filter__pill {
  padding: 10px;
  border: thin solid var(--dark-gray);
  border-radius: 20px;
}

.o-filter__pill:active,
.o-filter__pill:focus,
.o-filter__pill:hover {
  background: transparent;
  color: var(--dark-gray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-filter__pill-all:active,
.o-filter__pill-all:focus,
.o-filter__pill-all:hover {
  border: thin solid var(--dark-gray);
}

.o-filter__pill-ux:active,
.o-filter__pill-ux:focus,
.o-filter__pill-ux:hover {
  border: thin solid #BDDFEB;
  background: #BDDFEB;
}

.o-filter__pill-ui:active,
.o-filter__pill-ui:focus,
.o-filter__pill-ui:hover {
  border: thin solid #fff;
  background: #fff;
}

.o-filter__pill-apps:active,
.o-filter__pill-apps:focus,
.o-filter__pill-apps:hover {
  border: thin solid #FFDB99;
  background: #FFDB99;
}

.o-filter__pill-designs:active,
.o-filter__pill-designs:focus,
.o-filter__pill-designs:hover {
  border: thin solid #ffff50;
  background: #ffff50;
}

.o-filter__pill-talks:active,
.o-filter__pill-talks:focus,
.o-filter__pill-talks:hover {
  border: thin solid #D5C3B4;
  background: #D5C3B4;
}

.pill-container {
  padding: none;
  display: block;
  align-items: center;
  margin: 10px;
}

.o-pill-counter {
  position: relative;
  top: -55px;
  right: 0px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  background: #444444;
  border: thin solid var(--white);
}



.filterItem {
  margin: 20px 0;
  display: none;
}

.active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show {
  display: block;
}

/* Profile */

/* ###Profile */

.o-profile {
  display: block;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
}

.o-profile-title {
  word-wrap: wrap;
  line-height: 1.2em;
  text-align: center;
  border-top: thin solid var(--dark-gray);
  border-bottom: thin solid var(--dark-gray);
}

.o-profile__img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: medium dotted currentColor;
  border-radius: 50%;
  display: block;
  margin: 10px auto 20px auto;
}

.o-profile-info {
  border-bottom: thin solid var(--dark-gray);
  height: auto;
  padding-bottom: 8px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.o-profile-name {
  padding-bottom: 10px;
  margin-bottom: 20px;

}

.o-profile-name h3,
.o-profile-name h4 {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}

.o-profile-name h3 {
  font-size: 40px;
  font-weight: 800;
  background: var(--white);
  padding: 10px;
  border-radius: 20px;
}

.o-profile-name h4 {
  font-size: 32px;
  font-weight: 300;
}

.o-name-container h2 {
  font-size: 42px;
}

.o-name-container h4 {
  font-size: 28px;
}


.o-profile__positions {
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
  width: 100%;
  line-height: 2em;
  text-align: left;
  border-top: medium solid var(--dark-gray);
  border-bottom: 20px solid var(--dark-gray);
}

.o-profile__positions h3:nth-child(odd) {
  text-transform: lowercase;
  font-size: 28px;
  letter-spacing: 10px;
}


.o-profile__positions h3:nth-child(even) {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 10px;
  color: var(--white);
}


.o-contributions-list {
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  font-weight: 700;
  text-align: left;
}

.positions {
  margin: 0;
  padding: 0;
}

.o-profile-passions {
  margin: 30px 0;
}

.o-profile-passions-titles {
  margin: 20px 0;
}


/* ##Form */

.o-form {
  display: block;
  justify-content: center;
  width: 100%;
  margin: 80px auto;
  max-width: 800px;
  background: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background: inherit;
  z-index: 0;
}

.o-userText {
  width: 90%;
  background: inherit;
  padding: 20px;
  margin: 0;
  border: thin solid var(--dark-gray);
  color: inherit;
}

.o-userText:focus {
  outline: inherit;
  width: 100%;
  margin-right: 10px;
  background: inherit;
  border: 2px solid currentColor;
  color: inherit;

}

.o-userText:last-child:focus {
  width: 150px;
}

.o-userText:focus~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 10px;
  opacity: 1;
  color: var(--dark-gray);
}

.o-form__floating-label {
  display: block;
  position: relative;
  pointer-events: none;
  left: 10px;
  top: -85px;
  padding: 5px;
  max-width: 200px;
  transition: 0.2s ease all;
  font-size: 11px;
  z-index: 200px;
  text-transform: uppercase;
  background: inherit;
  font-weight: bold;
}

.o-userText:not(:focus):invalid~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: var(--dark-gray);
}

.o-userText:focus:invalid~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #FF7F7F;
}

.o-userText:not(:focus)~.o-form__floating-label {
  color: var(--dark-gray);
}

.o-userText:not(:focus):valid~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #009900;
}


.o-userText:focus:valid~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #009900;
}

.o-userText:[required]:focus:invalid~.o-form__floating-label {
  top: -85px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #FF7F7F;
}

.o-userText:[required]:focus:valid~.o-form__floating-label {
  top: -85px;
  left: 0;
  font-size: 11px;
  opacity: 1;
  color: #009900;
}

.o-form__floating-label:after {
  content: "*";
  color: #FF7F7F;
  font-size: 24px;
  padding-bottom: -10px;
  vertical-align: center;
}

.fl-phone::after {
  content: "";
}

/* ###textarea */

.o-userFormBody {
  width: 90%;
  border: 1px solid inherit;
  font-size: 1rem;
  color: inherit;
  background: inherit;
  margin-right: 10px;
  padding: 20px 10px;
}

.o-userFormBody:focus {
  width: 100%;
  border: 2px solid currentColor;
  color: inherit;
}

.o-form__message-floating-label::after {
  content: "*";
  color: #FF7F7F;
  vertical-align: center;
  font-size: 24px;
}

.o-form__message-floating-label {
  display: block;
  position: relative;
  font-size: 11px;
  font-weight: bold;
  top: -220px;
  left: 10px;
  text-transform: uppercase;
  background: inherit;
  width: 200px;
}

.o-userFormBody:not(:focus)~.o-form__message-floating-label {
  color: var(--dark-gray);
  left: 10px;
  top: -220px;
}

.o-userFormBody:focus:valid~.o-form__message-floating-label {
  top: -220px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #009900;
}

.o-userFormBody:focus:invalid~.o-form__message-floating-label {
  top: -220px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
  color: #FF7F7F;
}

/* ###Form Button */

.o-form__button {
  float: right;
  background: inherit;
  color: inherit;
  outline: 0;
  border: none;
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.o-form__button:active,
.o-form__button:focus,
.o-form__button:hover {
  background: inherit;
  padding-bottom: 10px;
  border-bottom: medium solid currentColor;

}

/* Validation tooltips */

[data-texttip],
[data-emailtip],
[data-phonetip] {
  position: relative;
}

[data-texttip]:before {
  content: '';
  /* hides the tooltoolTip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(78,78, 78);
  position: absolute;
  top: -10px;
  left: 35%;
  z-index: 9;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  color: inherit;
}


[data-texttip]:after {
  display: none;
  content: attr(data-texttip);
  position: absolute;
  top: -40px;
  left: 35%;
  padding: 5px;
  cursor: pointer;
  background: rgba(78,78, 78);
  color: inherit;
  z-index: 9;
  font-size: 10px;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: center;
  white-space: wrap;
  word-wrap: normal;
  width: auto;
}

[data-phonetip]:before {
  content: '';
  /* hides the tooltoolTip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid  rgba(78,78, 78);
  position: absolute;
  top: -10px;
  left: 35%;
  z-index: 9;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  color: inherit;
}


[data-phonetip]:after {
  display: none;
  content: attr(data-phonetip);
  position: absolute;
  top: -40px;
  left: 35%;
  padding: 5px;
  cursor: pointer;
  background: rgba(78,78, 78);
  color: inherit;
  z-index: 9;
  font-size: 10px;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: center;
  white-space: wrap;
  word-wrap: normal;
  width: auto;
}

[data-emailtip]:before {
  content: '';
  /* hides the tooltoolTip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(78,78, 78);
  position: absolute;
  top: -10px;
  left: 35%;
  z-index: 9;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  color: inherit;
}


[data-emailtip]:after {
  display: none;
  content: attr(data-emailtip);
  position: absolute;
  top: -40px;
  left: 35%;
  padding: 5px;
  cursor: pointer;
  background: rgba(78,78, 78);
  color: inherit;
  z-index: 9;
  font-size: 10px;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: center;
  white-space: wrap;
  word-wrap: normal;
  width: auto;
}

[data-texttip]:hover:before,
[data-texttip]:hover:after,
[data-emailtip]:hover:before,
[data-emailtip]:hover:after,
[data-phonetip]:hover:before,
[data-phonetip]:hover:after {
  display: block;
}


/* UL List Bullets */

.o-job-list,.o-clients-list,.o-contributions-list {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.o-job-list li {
  padding: 10px;
  border: thin solid currentColor;
  border-radius: 30px;
  max-width: 200px;
  word-wrap: wrap;
  background: var(--white);
  vertical-align: center;
  text-align: center;
  font-weight: 800;
}

.o-clients-list li {
  max-width: 200px;
  word-wrap: wrap;
  padding: 10px;
  border: thin solid currentColor;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background: transparent;
  vertical-align: center;
  text-align: center;
}

.o-contributions-list li {
  max-width: 200px;
  word-wrap: wrap;
  background: inherit;
  border: medium dashed currentColor;
  padding: 10px;
  vertical-align: center;
  text-align: center;
}



/* ### Media Queries */

@media only screen and (min-width: 481px) {
  .o-kicker-screen {
      margin: 30% auto;
   }
}
@media only screen and (min-width: 641px) {
  .o-kicker-screen {
      width: 80%;
      margin: 20% auto;
   }

   .o-profile__positions h3:nth-child(odd),.o-profile__positions h3:nth-child(even) {
  letter-spacing: 30px;

}

}
@media only screen and (min-width: 981px) {
   .o-kicker-screen {
      width: 60%;
      margin: 20% auto;
   }

   .o-profile__positions {
     line-height: 2.5em;
   }

   .o-profile__positions h3:nth-child(odd) {
  text-transform: lowercase;
  font-size: 36px;
  letter-spacing: 10px;

}


.o-profile__positions h3:nth-child(even) {
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 30px;
}


 .o-filter {
  margin: 20px auto 0px auto;
  height: 100px;
}

}

@media only screen and (min-width: 1024px) {}



/*---------------------*\
      #END of OBJECTS
\*---------------------*/




/*---------------------*\
      ##UTILITIES
\*---------------------*/


/*---------------------*\
      #END of UTILITIES
\*---------------------*/


/*---------------------*\
      #LOGIC
\*---------------------*/


/*---------------------*\
      #END of LOGIC
\*---------------------*/

