/*---------------------*\
      #IMPORTS
\*---------------------*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*---------------------*\
      #END of IMPORTS
\*---------------------*/




/* Following the BEM ITCSS method */

/*---------------------*\
      #SETTINGS
\*---------------------*/

:root {
  /* ##Calculations --
  ###This allows the browser to make a smoother transition between min and max values font, letter spacing, and line height for responsiveness */

    /* Font Cal */
  --font-size-cal: calc(12px + 48px * ((100vw - 320px) / (1600 - 320)));

  /* Letter Spacing Cal */
  --letter-spacing-cal: calc(2px + 16px * ((100vw - 320px) (1600 - 320)));

  /* Line Height Cal */
  --line-height-cal: calc(18px + 60px * ((100vw - 320px) (1600 - 320)));

  /* =========================================================== */

   /* ##Typography */

  /** Font Family Satisfy **/
  --f-Satisfy: "Satisfy",
    cursive;
  ;

  /** Font Family Raleway **/
  --f-Raleway: "Raleway",
    sans-serif;


  /* ===========================================================*/

  /* ##Brand Colors */

  /* Dark Theme */
  --t-dark-background-color: #222;
  --t-dark-text-color: #33CCFF;

  /* Light Theme */
  --t-light-background-color: #fff;
  --t-light-text-color: #663399;

  /* Dark Gray  */
  --dark-gray:#838383;

  /* Light Gray */
  --light-gray:#cccccc;
}

/*---------------------*\
      #END of SETTINGS
\*---------------------*/




/*---------------------*\
      #GENERIC
\*---------------------*/

/* ##CSS resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
  border: 1px dashed #A18DB3;
}

/* tables still need cellspacing=0 in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ;
}

blockquote,
q {
  quotes: ;
}

/* border box override*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/*---------------------*\
      #END of GENERIC
\*---------------------*/




/*---------------------*\
      #ELEMENTS
\*---------------------*/

body {
  background: var(--t-dark-background-color);
  color: var(--t-dark-text-color);
  letter-spacing: 2px;
  line-height: 1.2em;
  font-family: var(--f-Raleway);
  font-weight: 600;
}

main {
  width: 90%;
  margin: 20px auto;
}

/* ##Blockquote */

blockquote {
  background: inherit;
  font-size: 20px;
  line-height: 1.2em;

  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 7em;
  vertical-align: -0.5em;
}

blockquote section {
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  object-fit: cover;
  border: thin solid var(--dark-gray);
  padding: 4px;
}

blockquote div {
  display: block;
  justify-content: left;
  margin: 20px;
  font-size: 1rem;
}

.e-blockquote__body-text {
  font-weight: 300;
  padding: 10px;
}

blockquote h3 {
  font-weight: bolder;
}

blockquote h5 {
  font-weight: 800;
  font-style: italic;
}

.e-slug__author {
  font-size: 24px;
  font-family: var(--f-Satisfy);
  color: #787878;
  font-weight: 900;
}

blockquote h3,
blockquote h5 {
  padding: 0;
  margin: 5px;
}

/* a */
a {
  text-decoration:none;
  text-transform: uppercase;
}

/* ### Media Queries */

@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: 641px) {
  main {
    width: 60%;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 981px) {
  blockquote img {
   width: 50px;
   height: 50px;
  }
}

@media only screen and (min-width: 1024px) {}

/*---------------------*\
      #END of ELEMENTS
\*---------------------*/





/*---------------------*\
      #COMPONENTS
\*---------------------*/

/* Buttons */
.c-btn {
  padding: 10px 20px;
  color: inherit;
  letter-spacing: 2px;
}

.c-btn:hover, .c-btn:active, .c-btn:focus {
  border-bottom: medium solid var(--light-gray);
}

/* Card */

/* # Thumbnail Card */

.c-card__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
}

.c-card__thumbnail:active,
.c-card__thumbnail:focus,
.c-card__thumbnail:hover {
  font-weight: bolder;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.c-card__thumbnail-title {
  margin: 0;
  padding: 0;
}

.c-card__thumbnail__header {
  font-size: 1rem;
}

.c__card__thumbnail__subheader {
  font-size: 10px;
}

.c-card__button--show,
.c-card__button--close {
  font-size: 42px;
}

.c-thumbnail-apps {
  background: #FFDB99;
  border: medium solid #FFDB99;
}

.c-thumbnail-ux {
  background: #BDDFEB;
  border: medium solid #BDDFEB;
}

.c-thumbnail-ui {
  background: #FFF2F4;
  border: medium solid #FFF2F4;
}

.c-thumbnail-designs {
  background: #FFFFB2;
  border: medium solid #FFFFB2;
}

.c-thumbnail-talks {
  background: #D5C3B4;
  border: medium solid #D5C3B4;
}

/* # Main Card */

.c-card__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  z-index: 2000;
}

.c-card__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.c-card {
  background: #000;
  margin: 80px auto;
  width: 90%;
  max-height: 700px;
  overflow: scroll;
  border: thin solid var(--light-gray);
}

.c-card-img {
  width: 100%;
}

.c-card__section {
  margin-top: 10px;
  border-bottom: thin solid black;
}

.c-card__section-title {
  text-align: center;
  padding: 30px 10px;
  font-size: 28px;
  color: black;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  border: thin solid grey;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.c-card__content {
  height: 100%;
  overflow: scroll;
}

.c-card__section-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  border-bottom: thin solid #e9e9e9;
}

.c-card__section-label:hover {
  background: hsla(0, 0%, 0%, 0.7);
}

.c-card__section-label::after {
  content: "\276F";
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.c-card__section-body-text {
  max-height: 0;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
  color: #787878;
  font-weight: 200;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: scroll;
  background: transparent;
}

.card_section-body-text-sections {
  margin: 20px;
  text-transform: lowercase;
}

.card_section-body-text-sections h3 {
  font-size: 24px;
  padding-bottom: 20px;
}

.c-card_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

/* ###Card state */

.c-card__section-items:checked+.c-card__section-label {
  background: hsla(0, 0%, 0%, 0.7);
}

.c-card__section-items:checked+.c-card__section-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-card__section-items:checked~.c-card__section-body-text {
  max-height: 200px;
  padding: 1em;
}

.c-card__section-items {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


/* ### Media Queries */

@media only screen and (min-width: 481px) {

  .c-card {
    width: 70%;
  }

}
@media only screen and (min-width: 641px) {
  .c-card {
    width: 60%;
  }
}
@media only screen and (min-width: 981px) {
  .c-card {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {}


/*---------------------*\
      #END of COMPONENTS
\*---------------------*/





/*---------------------*\
      #OBJECTS
\*---------------------*/

/* Theme */
.t-light {
  background: #fff;
  color: var(--t-light-text-color);
}

/* Kicker */

.o-kicker-screen {
  margin: 50% auto;
}

.kicker-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}


/* ### Media Queries */

@media only screen and (min-width: 481px) {
  .o-kicker-screen {
      margin: 30% auto;
   }
}
@media only screen and (min-width: 641px) {
  .o-kicker-screen {
      width: 80%;
      margin: 20% auto;
   }
}
@media only screen and (min-width: 981px) {
   .o-kicker-screen {
      width: 60%;
      margin: 20% auto;
   }
}

@media only screen and (min-width: 1024px) {}



/*---------------------*\
      #END of OBJECTS
\*---------------------*/




/*---------------------*\
      ##UTILITIES
\*---------------------*/


/*---------------------*\
      #END of UTILITIES
\*---------------------*/




/*---------------------*\
      #LOGIC
\*---------------------*/


/*---------------------*\
      #END of LOGIC
\*---------------------*/

