/*---------------------*\
      #IMPORTS
\*---------------------*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*---------------------*\
      #END of IMPORTS
\*---------------------*/




/* Following the BEM ITCSS method */

/*---------------------*\
      #SETTINGS
\*---------------------*/

:root {
  /* ##Calculations --
  ###This allows the browser to make a smoother transition between min and max values font, letter spacing, and line height for responsiveness */

    /* Font Cal */
  --font-size-cal: calc(12px + 48px * ((100vw - 320px) / (1600 - 320)));

  /* Letter Spacing Cal */
  --letter-spacing-cal: calc(2px + 16px * ((100vw - 320px) (1600 - 320)));

  /* Line Height Cal */
  --line-height-cal: calc(18px + 60px * ((100vw - 320px) (1600 - 320)));

  /* =========================================================== */

   /* ##Typography */

  /** Font Family Satisfy **/
  --f-Satisfy: "Satisfy",
    cursive;
  ;

  /** Font Family Raleway **/
  --f-Raleway: "Raleway",
    sans-serif;


  /* ===========================================================*/

  /* ##Brand Colors */

  /* Dark Theme */
  --t-dark-background-color: #222;
  --t-dark-text-color: #33CCFF;

  /* Light Theme */
  --t-light-background-color: #fff;
  --t-light-text-color: #663399;

  /* Dark Gray  */
  --dark-gray:#838383;

  /* Light Gray */
  --light-gray:#cccccc;
}

/*---------------------*\
      #END of SETTINGS
\*---------------------*/




/*---------------------*\
      #GENERIC
\*---------------------*/

/* ##CSS resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
  border: 1px dashed #A18DB3;
}

/* tables still need cellspacing=0 in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ;
}

blockquote,
q {
  quotes: ;
}

/* border box override*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/*---------------------*\
      #END of GENERIC
\*---------------------*/




/*---------------------*\
      #ELEMENTS
\*---------------------*/

body {
  background: var(--t-dark-background-color);
  color: var(--t-dark-text-color);
  letter-spacing: 2px;
  line-height: 1.2em;
  font-family: var(--f-Raleway);
  font-weight: 600;
}

main {
  width: 90%;
  margin: 20px auto;
}

h1 {
  margin: 150px 0 30px 0;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  font-weight: 800;
}

/* ##Blockquote */

blockquote {
  background: inherit;
  font-size: 20px;
  line-height: 1.2em;

  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 7em;
  vertical-align: -0.5em;
}

blockquote section {
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  object-fit: cover;
  border: thin solid var(--dark-gray);
  padding: 4px;
}

blockquote div {
  display: block;
  justify-content: left;
  margin: 20px;
  font-size: 1rem;
}

.e-blockquote__body-text {
  font-weight: 300;
  padding: 10px;
}

blockquote h3 {
  font-weight: bolder;
}

blockquote h5 {
  font-weight: 800;
  font-style: italic;
}

.e-slug__author {
  font-size: 24px;
  font-family: var(--f-Satisfy);
  color: #787878;
  font-weight: 900;
}

blockquote h3,
blockquote h5 {
  padding: 0;
  margin: 5px;
}

/* a */
a {
  text-decoration:none;
  text-transform: uppercase;
}

/* ul */
ul {
  margin: 0 20px;
}

li {
  margin: 20px;
}

/* ### Media Queries */

@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: 641px) {
  main {
    width: 70%;
    margin: 20px auto;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 981px) {
  blockquote img {
   width: 50px;
   height: 50px;
  }

  main {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {}

/*---------------------*\
      #END of ELEMENTS
\*---------------------*/





/*---------------------*\
      #COMPONENTS
\*---------------------*/

/* Navigation */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  border-bottom: thin solid var(--light-gray);
  width: 100vw;
  z-index: 500px;
   box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px auto;
  color: inherit;
  background: inherit;
  z-index: 500px;
}

.nav__btn:hover {
  color: inherit;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

/* .nav__btn {
  cursor: pointer;
  margin: 10px auto;
  padding: 10px;
  border-radius: 100%;
  color: inherit;
  background: inherit;
  z-index: 0;
}

.nav__btn:hover {
  color: inherit;
} */

.menuOpenBtn {
  font-size: 90px;
}

.nav__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  background: #222;

  z-index: 2;
}

.menu {
  display: flex;
  position: absolute;
  left: 40%;
  top: 45%;
  width: 100%;
  z-index: 2;
}

.btn {
  width: 80px;
  height: 80px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  color: black;
}

/* .btn {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  color: black;
} */

.btn p {
  margin:none;
}

.nav_link_text {
  margin-top: -10px;
  font-size: 10px;
}

.nav_link_icon {
  weight: 40px;
  height: 40px;
  fill: currentColor;
}


.btn:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid  var(--t-light-text-color);
}

.btn:active,
.btn:focus {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--t-dark-text-color);
}

.btn:visited {
  padding-bottom: 4px;
  border-bottom: 2px solid  #787878;
}

.btn:nth-child(2) {
  top: -100px;
  opacity: 1;
}

.btn:nth-child(3) {
  top: -100px;
  left: 100px;
  opacity: 1;
}

.btn:nth-child(4) {
  left: 100px;
  top: 0px;
  opacity: 1;
}

.btn:nth-child(5) {
  top: 100px;
  left: 100px;
  opacity: 1;
}

.btn:nth-child(6) {
  top: 100px;
  opacity: 1;
}

.btn:nth-child(7) {
  top: 100px;
  left: -100px;
  opacity: 1;
}

.btn:nth-child(8) {
  left: -100px;
  opacity: 1;
}

.btn:nth-child(9) {
  top: -100px;
  left: -100px;
  opacity: 1;
}

.nav_links {
  letter-spacing: none;
  color: #fff;
  font-weight: 900;
  outline: none;
  border: none;
  background: transparent;
}

.nav_links:active,
.nav_links:focus,
.nav_links:hover,
.nav_links:visited {
  background: transparent;
  border: none;
  outline: none;
}


/* .menuBtn, */
.closeBtn {
  position: absolute;
  font-size: 36px;
  font-weight: 900;
  color: #787878;
  padding: 10px;
  border-radius: 100%;
  transition: all 0.3s ease;

}

/* .menuBtn {
  font-size: 60px;
} */

.closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

.nav_items {
  display: none;
}


/* Scroll-Btn */

.scroll__btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  margin: 25px auto;
  color: inherit;
  background: inherit;
  z-index: 4;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.scroll__btn:hover {
  color: inherit;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.scrollBtn {
  font-size: 18px;
}




/* Buttons */

.c-btn {
  padding: 10px 20px;
  color: inherit;
  letter-spacing: 2px;
}

.c-btn:hover, .c-btn:active, .c-btn:focus {
  border-bottom: medium solid var(--light-gray);
}

/* Card */

/* # Thumbnail Card */

.c-card__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
  background: inherit;
  border: thin solid var(--light-gray);
}

.c-card__thumbnail:active,
.c-card__thumbnail:focus,
.c-card__thumbnail:hover {
  font-weight: bolder;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
}

.c-card__thumbnail-title {
  margin: 0;
  padding: 0;
}

.c-card__thumbnail__header {
  font-size: 1rem;
}

.c__card__thumbnail__subheader {
  font-size: 10px;
  color: var(--light-gray);
}

.c-card__button--show,
.c-card__button--close {
  font-size: 42px;
}

.c-thumbnail-apps {
  border-left: 30px solid #FFDB99;
}

.c-thumbnail-ux {
  background: #BDDFEB;
  border: medium solid #BDDFEB;
}

.c-thumbnail-ui {
  background: #FFF2F4;
  border: medium solid #FFF2F4;
}

.c-thumbnail-designs {
  background: #FFFFB2;
  border: medium solid #FFFFB2;
}

.c-thumbnail-talks {
  background: #D5C3B4;
  border: medium solid #D5C3B4;
}

/* # Main Card */

.c-card__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-gray);
  z-index: 2000;
}

.c-card__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.c-card {
  background: #fff;
  margin: 80px auto;
  width: 90%;
  max-height: 700px;
  overflow: scroll;
  border: thin solid var(--light-gray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-card-img {
  width: 100%;
  height: 200px;
}

.c-card__section {
  margin-top: 10px;
}

/* .c-card__section-title {
  text-align: center;
  padding: 30px 10px;
  font-size: 28px;
  color: black;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 400px;
  border: thin solid grey;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
} */

.c-card__content {
  height: 100%;
  overflow: scroll;
}

.c-card__section-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
  font-size: 24px;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  border-bottom: thin solid var(--light-gray);
}

.c-card__section-label:hover {
  color: inherit;
}

.c-card__section-label::after {
  content: "\276F";
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.c-card__section_subheader {
  font-weight: 700;
  color: var(--dark-gray);
}

.c-card__section-body-text {
  max-height: 0;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
  color: inherit;
  font-weight: 200;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: scroll;
  background: transparent;
}

.c-card_section-body-text-sections {
  margin: 10px 0 20px 0;
  text-transform: lowercase;
  padding-bottom: 10px;
  /* border-bottom: thin dotted var(--dark-gray); */
}

.c-card_section-body-text-sections h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

.c-card_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

/* ###Card state */

.c-card__section-items:checked+.c-card__section-label {
  background: inherit;
}

.c-card__section-items:checked+.c-card__section-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-card__section-items:checked~.c-card__section-body-text {
  max-height: 200px;
  padding: 1em;
}

.c-card__section-items {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Section */

.c-section__list {
  margin: 0 40px;
}

/* Tools */

/* ##Tools */
/*
.c-tools-subheader {
  margin: 40px 0 10px 0;
  line-height: 1.2em;
  border-bottom: none;
  font-size: 28px;
} */

/* .c-tools-section {
  margin: 30px 0;
} */

.c-tools-section:last-child {
  margin-bottom: 40px;
  border-bottom: 0;
}

.c-tools-section-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background: inherit;
  font-weight: bold;
  cursor: pointer;
  border-bottom: thin dotted var(--light-gray);
}


.c-tools-subheaders {
  margin: 0;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 300;
}

.c-tools-section-label:hover {
  border-bottom: thick solid var(--dark-gray);
}

.c-tools-section-label::after {
  content: "\276F";
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.c-tools-section__body-text {
  max-height: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: scroll;
}

/* #Tools Section State */


.c-tools-section-items:checked+.c-tools-section-label {
  border-bottom: thick solid var(--dark-gray);
}

.c-tools-section-items:checked+.c-tools-section-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-tools-section-items:checked~.c-tools-section__body-text {
  max-height: 200px;
}

.c-tools-section-items {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Copyright */

.c-copyright {
  z-index: 0;
  position: static;
  bottom: 0;
  left: 30%;
  text-align: center;
  font-size: 13px;
}


/* ### Media Queries */

@media only screen and (min-width: 481px) {

  .c-card {
    width: 70%;
  }

}
@media only screen and (min-width: 641px) {
  .c-card {
    width: 60%;
  }

  .c-card-img {
    height: 300px;
  }

  /* Nav */

  .btn {
    width: 90px;
    height: 90px;
  }

  .menu {
    left: 45%;
    top: 50%;
  }

  .nav_links {
    font-size: 12px;
  }

  .closeBtn {
    padding: 0;
  }

  .btn:nth-child(2) {
    top: -150px;
    opacity: 1;
  }

  .btn:nth-child(3) {
    top: -100px;
    left: 100px;
    opacity: 1;
  }

  .btn:nth-child(4) {
    left: 150px;
    top: 0px;
    opacity: 1;
  }

  .btn:nth-child(5) {
    top: 100px;
    left: 100px;
    opacity: 1;
  }

  .btn:nth-child(6) {
    top: 150px;
    opacity: 1;
  }

  .btn:nth-child(7) {
    top: 100px;
    left: -100px;
    opacity: 1;
  }

  .btn:nth-child(8) {
    left: -150px;
    opacity: 1;
  }

  .btn:nth-child(9) {
    top: -100px;
    left: -100px;
    opacity: 1;
  }

  .projects-table {
    margin: 0 auto;
    width: 80%;
  }

  .c-card__button--close {
    font-size: 42px;
  }

  .c-card {
    max-width: 450px;
  }

  .c-tools-page {
    width: 80%;
    margin: 0 auto;
  }

  .scroll__btn {
    bottom: 40px;
    right: 30px;
    width: 40px;
    height: 40px;
  }

  .scrollBtn {
    font-size: 24px;
  }

}

@media only screen and (min-width: 981px) {
  .c-card {
    width: 400px;
  }

    .scroll__btn {
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
  }

  .scrollBtn {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1024px) {}


/*---------------------*\
      #END of COMPONENTS
\*---------------------*/





/*---------------------*\
      #OBJECTS
\*---------------------*/

/* Theme */
.t-light {
  background: #fff;
  color: var(--t-light-text-color);
}

/* Kicker */

.o-kicker-screen {
  margin: 50% auto;
}

.kicker-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}


/* Project Filter */

.projects-table {
  margin: 20px auto;
}

/* ##Filter */

.o-filter {
  margin: 20px auto 0 auto;
  height: auto;
}

.o-filter__header {
  font-size: 24px;
  margin-bottom: 20px;
}

/* ###Pills */

.o-filter__pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.o-filter__pill {
  margin: 10px;
  padding: 10px;
  border: thin solid #787878;
  border-radius: 20px;
}

.o-filter__pill:active,
.o-filter__pill:focus,
.o-filter__pill:hover {
  background: #E9E9E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-filter__pill-all:active,
.o-filter__pill-all:focus,
.o-filter__pill-all:hover {
  border: thin solid #787878;
}

.o-filter__pill-ux:active,
.o-filter__pill-ux:focus,
.o-filter__pill-ux:hover {
  border: thin solid #BDDFEB;
  background: #BDDFEB;
}

.o-filter__pill-ui:active,
.o-filter__pill-ui:focus,
.o-filter__pill-ui:hover {
  border: thin solid #FFF2F4;
  background: #FFF2F4;
}

.o-filter__pill-apps:active,
.o-filter__pill-apps:focus,
.o-filter__pill-apps:hover {
  border: thin solid #FFDB99;
  background: #FFDB99;
}

.o-filter__pill-designs:active,
.o-filter__pill-designs:focus,
.o-filter__pill-designs:hover {
  border: thin solid #FFFFB2;
  background: #FFFFB2;
}

.o-filter__pill-talks:active,
.o-filter__pill-talks:focus,
.o-filter__pill-talks:hover {
  border: thin solid #D5C3B4;
  background: #D5C3B4;
}

.filterItem {
  display: none;
}

.active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show {
  display: block;
}



/* ### Media Queries */

@media only screen and (min-width: 481px) {
  .o-kicker-screen {
      margin: 30% auto;
   }
}
@media only screen and (min-width: 641px) {
  .o-kicker-screen {
      width: 80%;
      margin: 20% auto;
   }
}
@media only screen and (min-width: 981px) {
   .o-kicker-screen {
      width: 60%;
      margin: 20% auto;
   }
}

@media only screen and (min-width: 1024px) {}



/*---------------------*\
      #END of OBJECTS
\*---------------------*/




/*---------------------*\
      ##UTILITIES
\*---------------------*/


/*---------------------*\
      #END of UTILITIES
\*---------------------*/




/*---------------------*\
      #LOGIC
\*---------------------*/


/*---------------------*\
      #END of LOGIC
\*---------------------*/

